<% provide(:title, 'New Topic') %>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>New Topic</h1>
    	<%= render 'form' %>
    </div>
    <div class="col-sm-4"></div>
</div>
